<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.leocoder.codehub.common.mapper.ArticleContentMapper">
  <resultMap id="BaseResultMap" type="org.leocoder.codehub.common.model.domain.ArticleContent">
    <!--@mbg.generated-->
    <!--@Table t_article_content-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="article_id" jdbcType="BIGINT" property="articleId" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, article_id, content
  </sql>
</mapper>